@model FuelIn.Controllers.CustomerRegDataModel;

@{
    ViewData["Title"] = "CustomerRegView";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Register as a Consumer</title>
</head>
<div class="wrapper mw-100" style="width: 450px">
    <div class="logo">
        <img src="~/img/fuelin-high-resolution-color-logo.png" alt="FuelIn Logo">
    </div>
    <div class="text-center mt-4 name">
        FuelIn
    </div>
    <div class="text-center mt-2">
        Register as a Consumer
    </div>
    @Html.ValidationSummary()
    <form class=" p-3 mt-3" method="post" asp-controller="Auth">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="fullName" id="FullName" placeholder="Full Name">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="nic" id="NIC" placeholder="NIC">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userNameReg" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="passwordReg" placeholder="Password">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat Password">
        </div>

        <label>Select the vehicle type</label>
        <select class="form-control form-control-sm" id="vehicleType">
            @foreach (var type in @Model.vehicleTypes)
            {
                <option>@type.VehType</option>
            }
        </select>

        <div class="form-field d-flex align-items-center mt-3">
            <span class="fas fa-car"></span>
            <input type="text" name="regNumber" id="regNumber" placeholder="Enter vehicle registration number">
        </div>

        <label>Select your district</label>
        <select class="form-control form-control-sm" id="vehicleType">
            @foreach (var type in @Model.stations)
            {
                <option>@type.StaDistrict</option>
            }
        </select>

        <button class="btn mt-3" type="submit">Register</button>
    </form>

    <div class="text-center fs-6">
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">Login</a>
    </div>
</div>

