@{
    ViewData["Title"] = "Add/Edit Driver";
    Layout = "~/views/Shared/_SuperAdminLayout.cshtml";
    var driver = ViewBag.User;
    var decryptPassword = ViewBag.decryptPassword;
}
<head>
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
    @if (driver != null)
    {
        <h1>Edit Driver</h1>
        @Html.ValidationSummary()
        <form action="@Url.Action("EditDriver", "ManageDrivers")" method="post" class="w-50">
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Driver ID: @driver.USER_ID</label>
                    <input type="hidden" name="USER_ID" id="USER_ID" placeholder="Driver ID" value="@driver.USER_ID" class="form-control">
                </div>
            </div><br>
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Driver Username: </label>
                    <input type="text" name="USERNAME" id="USERNAME" placeholder="Driver Username" value="@driver.USERNAME" class="form-control">
                </div>
            </div><br>
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Driver Password: </label>
                    <input type="text" name="PASSWORD" id="PASSWORD" placeholder="Driver Password" value="@decryptPassword" class="form-control">
                </div>
            </div><br>
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Confirm Password: </label>
                    <input type="text" name="confirmPassword" id="confirmPassword" value="@decryptPassword" class="form-control">
                </div>
            </div><br>
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Driver Status: </label>
                    <select name="USER_STATUS" id="USER_STATUS" class="form-control form-control-sm">
                        @if (driver.USER_STATUS == "ACT")
                    {
                        <option selected>ACT</option>
                        <option>INA</option>
                    }
                    else
                    {
                        <option>ACT</option>
                        <option selected>INA</option>
                    }
                    </select>
                </div>
            </div><br>
            <button class="btn btn-primary" type="submit" value="Submit" >Submit</button>
        </form>
    }
    else
    {
        <h1>Add Driver</h1>
        @Html.ValidationSummary()
        <form action="@Url.Action("AddDriver", "ManageDrivers")" method="post" class="w-50">
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Driver Username: </label>
                    <input type="text" name="USERNAME" id="USERNAME" placeholder="Driver Username" class="form-control">
                </div>
            </div><br>
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Driver Password: </label>
                    <input type="text" name="PASSWORD" id="PASSWORD" placeholder="Driver Password" class="form-control">
                </div>
            </div><br>
            <div class="form-group mb-4">
                <div class="form-field d-flex align-items-center mb-0">
                    <label>Confirm Password: </label>
                    <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control">
                </div>
            </div><br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    }
</body>
