@model IEnumerable<FuelIn.Models.Auth.User>
@{
    ViewData["Title"] = "View Drivers";
    Layout = "~/views/Shared/_SuperAdminLayout.cshtml";
    int driverId = 0;
}
<head>
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
<h1>Manage Drivers</h1>
<button>
    @Html.ActionLink(
    "Add",
    "ShowAddEditDriver",
    "ManageDrivers",
    new { userId = 0, encryptedPassword = "-1"}
    )
</button>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Encrypted Password</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model)
        {
            driverId = driver.USER_ID;
            <tr>
                <th scope="row">@driver.USER_ID</th>
                <th>@driver.USERNAME</th>
                <td>@driver.PASSWORD</td>
                <td>@driver.USER_STATUS</td>
                <td>
                    @Html.ActionLink(
                "Edit",                                                              
                "ShowAddEditDriver",                                                 
                "ManageDrivers",                                                     
                new { userId = @driver.USER_ID, encryptedPassword = driver.PASSWORD} 
                )
                </td>
            </tr>
        }
    </tbody>
</table>
</body>