@{
    ViewData["Title"] = "Add/Edit Supply Request";
    Layout = "~/views/Shared/_SuperAdminLayout.cshtml";
    var stations = ViewBag.Stations;
    var drivers = ViewBag.Drivers;
    var supplyRequest = ViewBag.SupplyRequest;
    var requestStation = ViewBag.requestStation;
}
<head>
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
    @if (supplyRequest != null)
    {
        <h1>Edit Supply Request</h1>
        @Html.ValidationSummary()
        <form action="@Url.Action("EditSupplyRequest", "ManageSupplyRequests")" method="post">
            <div>
                <input type="hidden" name="disID" id="disID" placeholder="Distribution ID" value="@supplyRequest.disID">
            </div><br>
            <div>
                <label>Station: @requestStation.staDistrict</label>
            </div><br>
            <div>
                <label>Driver: </label>
                <select name="driverID" id="driverID">
                    @foreach (var driver in drivers) 
                    {
                        <option value="@driver.USER_ID">@driver.USERNAME</option>
                    }
                </select>
            </div><br>
            <div>
                <label>Distribution Start Date: @supplyRequest.distributionStartDate</label>
            </div><br>
            @if (supplyRequest.expectedEndDate != null)
            {
                <div>
                    <label>Expected End Date: @supplyRequest.expectedEndDate</label>
                </div><br>
            }
            <div>
            @if (supplyRequest.accepted == 0) 
            {
                <label>Accepted?: No</label>
            }
            else 
            {
                <label>Accepted?: Yes</label>
            }
            </div><br>
            <div>
                <label>Arrival Hours: </label>
                <input type="number" id="arrivalHours" name="arrivalHours" min="1" max="999">
            </div><br>
            <div>
                <label>Current Location: </label>
                @if (supplyRequest.disLocation != null) 
                {
                    <input type="text" name="disLocation" id="disLocation" value="@supplyRequest.disLocation">
                }
                else 
                {
                    <input type="text" name="disLocation" id="disLocation">
                }
            </div><br>
            <button type="submit" value="Submit" >Submit</button>
        </form>
    }
    else
    {
        <h1>Add Supply Request</h1>
        @Html.ValidationSummary()
        <form action="@Url.Action("AddSupplyRequest", "ManageSupplyRequests")" method="post">
            <div>
                <label>Station: </label>
                <select name="staID" id="staID">
                    @foreach (var station in stations) 
                    {
                        <option value="@station.staID">@station.staDistrict</option>
                    }
                </select>
            </div><br>
            <div>
                <label>Driver: </label>
                <select name="driverID" id="driverID">
                    @foreach (var driver in drivers) 
                    {
                        <option value="@driver.USER_ID">@driver.USERNAME</option>
                    }
                </select>
            </div><br>
            <div>
                <label>Distribution Start Date: </label>
                <input type="datetime-local" id="distributionStartDate" name="distributionStartDate">
            </div><br>
            <div>
                <label>Expected End Date: </label>
                <input type="datetime-local" id="expectedEndDate" name="expectedEndDate">
            </div><br>
            <button type="submit" value="Submit" >Submit</button>
        </form>
    }
</body>
